.card {
    display: flex;
    max-width: 370px;
    flex-direction: column;
    flex-basis: 282px;
    box-sizing: border-box;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 16px;
}

.card__user-information {
    text-align: center;
}

.card__user-image {
    height: 70px;
    width: 70px;
    object-position: center;
    border-radius: 50%;
    overflow: hidden;
}

.card__user-item {
    line-height: 26px;
    width: 100%;
    overflow: hidden;
}

@media (width >=1027px) {
    .card {
        min-width: 320px;
    }
}