.button{
    width: 100px;
    height: 34px;
    background-color: var(--primary-color);
    border-radius: 80px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s linear;
}
.button:hover{
    background-color: var(--hover-color);
}
.button:active{
    scale: 1.1;
}
.button.disabled {
    background-color: var(--disable-color);
    scale: 1;
};